.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #32a045;
  border-radius: 4px;
  background: #32a045;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #4ace60;
  border-color: #4ace60;
}

.button--inverse {
  background: transparent;
  color: #f01010;
  border: 1px solid #f01010;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #f01010;
  border: 1px solid #f01010;
}

.button--danger {
  background: #f01010;
  border-color: #f01010;
}

.button--danger:hover,
.button--danger:active {
  background: #880c0c;
  border-color: #880c0c;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}